# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# VS Code settings
.vscode/

# Mac junk files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

checkpoints/
*.pth
*.ckpt
*.h5